<!DOCTYPE html>
<html>
	<head>
		<title>Liste de courses</title>
	</head>
	<link rel="stylesheet" href="css/auth.css">
	
	<body>
		<section id="authent">
			<div class="login-page">
			  <div class="form">
				<form class="register-form">
				  <input type="text" placeholder="Identifiant"/>
				  <input type="password" placeholder="Password"/>
				  <input type="text" placeholder="Adresse email"/>
				  <button>Créer</button>
				  <p class="message">Mot de passe oublié <a href="#">Se connecter</a></p>
				</form>
				<form ng-submit="seConnecter()" class="login-form">
				  <input type="text" placeholder="Identifiant" ng-model="identifiant"required/>
				  <span ng-show="form.Identifiant.$dirty && form.Identifiant.$error.required" class="help-block">Identifiant is required</span>
				  <input type="password" placeholder="Password" ng-model="password" required/>
				  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
				  <button>login</button>
				  <p class="message">Pas de compte encore ? {{autoriser}}<a href="#">Créer un compte</a></p>
				</form>
			  </div>
			</div>
        </section>
	</body>
	<script>
		$('.message a').click(function(){
		   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
		});
	</script>
</html>
