<!DOCTYPE html>
<html>
	<head>
		<title>Liste de courses</title>
	</head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/auth.css">
	
	<body ng-app="mesCoursesApp" ng-controller="authCtrl">
		<section id="authent">
			<div class="login-page">
			  <div class="form">
				<form class="register-form">
				  <input type="text" placeholder="Identifiant"/>
				  <input type="password" placeholder="Password"/>
				  <input type="text" placeholder="Adresse email"/>
				  <button>Créer</button>
				  <p class="message">Mot de passe oublié <a href="#">Se connecter</a></p>
				</form>
				<form ng-submit="seConnecter()" class="login-form">
				  <input type="text" placeholder="Identifiant" ng-model="identifiant" />
				  <input type="password" placeholder="Password" ng-model="password" />
				  <button>login</button>
				  <p class="message">Pas de compte encore ? {{autoriser}}<a href="#">Créer un compte</a></p>
				</form>
			  </div>
			</div>
        </section>
	</body>
	<script src="js/app.js"></script>
	<script src="js/controleurs/coursesCtrl.js"></script>
	<script src="js/controleurs/authCtrl.js"></script>
	<script src="js/services/coursesSave.js"></script>
	<script src="js/services/serviceAuth.js"></script>
	<script>
		$('.message a').click(function(){
		   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
		});
	</script>
</html>
