<!DOCTYPE html>
<html>
	<head>
		<title>Liste de courses</title>
	</head>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/toggle.css">
	
	<body>
		<section id="sectiontitre">
			Liste de courses
		</section>
		<section id="sectionprincipale">
               <form ng-submit="ajouterElement()" class="form-inline">
					<input type="text" id="elementid" ng-model="element_libelle" size="50" placeholder="Saisir ici" maxlength="30" class="form-control">
					<select class="form-control">
						<option>Zone 1</option>
						<option>Zone 2</option>
						<option>Zone 3</option>
						<option>Zone 4</option>
						<option>Autre ...</option>
					</select>
               </form>
               <br>
               <table>
                      <tr ng-repeat="x in elements">
                             <td id="celluleCaseACocher" >
                                   <label class="switch">
                                     <input type="checkbox" ng-checked="{{x.complete}}" ng-click="validerElement(x)">
                                     <span class="slider round"></span>
                                   </label>
                             </td>
                             <td id="celluleLibelle"><label>{{x.nomElement}}</label></td>
                             <td id="celluleSupprimer"><img id="imgdelete" ng-click="supprimerElement(x.idElement)" src="images/delete.png" /></td>
                      </tr>
               </table>
         </section>
	</body>
</html>
