body{
	margin: 0;
	padding: 0;
	background-color: #F4F5F5;
}

#sectiontitre
{
  font-size: 38px;
  font-family:Arial, Helvetica, sans-serif;
  color: #344134;
  padding:16px;
  font-weight:lighter; 
  text-align:center;
  display:block;
  margin:16px; 
}

#sectionprincipale{
	/*border-style: solid;*/
	width: 500px;
	margin-left: 450px;
}
